
#particles-js {
  background: linear-gradient(232deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  width: 100%;
  height: 100%;
}
 @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1.logo {
	  text-shadow:0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa, 
	  1px 1.9px 1px black, 
	  2px 3.8px 2px black, 
	  3px 5.7px 3px rgba(0, 0, 0, 0.6666666667), 
	  4px 7.6px 4px rgba(0, 0, 0, 0.5), 
	  5px 9.5px 5px rgba(0, 0, 0, 0.4), 
	  6px 11.4px 6px rgba(0, 0, 0, 0.3333333333), 
	  7px 13.3px 7px rgba(0, 0, 0, 0.2857142857), 
	  8px 15.2px 8px rgba(0, 0, 0, 0.25), 
	  9px 17.1px 9px rgba(0, 0, 0, 0.2222222222), 
	  10px 19px 10px rgba(0, 0, 0, 0.2), 
	  11px 20.9px 11px rgba(0, 0, 0, 0.1818181818), 
	  12px 22.8px 12px rgba(0, 0, 0, 0.1666666667), 
	  13px 24.7px 13px rgba(0, 0, 0, 0.1538461538), 
	  14px 26.6px 14px rgba(0, 0, 0, 0.1428571429), 
	  15px 28.5px 15px rgba(0, 0, 0, 0.1333333333), 
	  16px 30.4px 16px rgba(0, 0, 0, 0.125), 
	  17px 32.3px 17px rgba(0, 0, 0, 0.1176470588), 
	  18px 34.2px 18px rgba(0, 0, 0, 0.1111111111), 
	  19px 36.1px 19px rgba(0, 0, 0, 0.1052631579), 
	  20px 38px 20px rgba(0, 0, 0, 0.1), 
	  21px 39.9px 21px rgba(0, 0, 0, 0.0952380952), 
	  22px 41.8px 22px rgba(0, 0, 0, 0.0909090909), 
	  23px 43.7px 23px rgba(0, 0, 0, 0.0869565217), 
	  24px 45.6px 24px rgba(0, 0, 0, 0.0833333333), 
	  25px 47.5px 25px rgba(0, 0, 0, 0.08);

}
#slope-top{
    margin-top: 100px;
  min-height: 200px;
  transform: skewY(-6deg);
  transform-origin: top left;
}
#slope-bottom {
	z-index:-1;
 position: absolute;
  width: 100%;
  height: 200px;
  transform: skewY(-6deg);
  transform-origin: top left;
}

